<div class="card mx-auto w-50">
    <h4 class="card-header" style="text-align: center;"> {{user1.username}} </h4>
    <div class="card-body">
        <div class="row w-100 scrollable">
            <div class="col-md-14">
                <h4>Trips</h4>
                <table class="table">
                    <tbody >
                        <tr>
                            <td>
                                <p>Trip Route: </p>
                                <p>Rating: </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
