<div class="card mx-auto w-50">
    <h4 class="card-header" style="text-align: center;"> {{user1.username}} </h4>
    <div class="card-body">
        <div class="row w-100 scrollable">
            <div class="col-md-14">
                <h4>Trips</h4>
                <table class="table">
                    <tbody *ngFor="let trip of trips">
                        <tr>
                            <td>
                                <p><b>Start Address:</b> {{trip.startAddress}}</p>
                                <p><b>Destination:</b> {{trip.endAddress}}</p>
                                <p><b>Rating:</b>{{trip.rating}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h4>Friends</h4>
                <table class="table">
                    <tbody>
                        <tr *ngFor="let name of userNames">
                            <td>{{name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
