<nav class="navbar navbar-expand-lg navbar-light bg-light">
 
    <div class="container-fluid">
        <img
        width="40"
        alt="Trippi Logo"
        src="https://s3.amazonaws.com/logosnap/logos/2021/Oct/original-8914-61701ea1dcaa5wm.png"/>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/trip-forms">Start Tripping</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Trip History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Friends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Reviews</a>
            </li>
        </ul>
        </div>
    </div>
</nav>