<div class="container">
<h2>Trips taken by {{UserName}}</h2>

<table class="table bg-light">
    <thead>
        <th>Username</th>
        <th>Start</th>
        <th>End</th>
        <th>Rate Trip</th>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let t of Trips" (click)="goToTrip(t.id)"> -->
        <tr *ngFor="let t of Trips">
               
            
                <td *ngIf="t.username == UserName">{{t.username}}</td>
           
            
                <td *ngIf="t.username == UserName">{{t.startAddress}}</td>
            
           
                <td *ngIf="t.username == UserName">{{t.endAddress}}</td>
            
                <td *ngIf="t.username == UserName"><div *ngFor="let r of AllRatings"><p *ngIf="t.id == r.tripId">Rating = {{r.myRating}}</p></div><app-tripdetails [tabletripid]="t.id" class="tripdetails"></app-tripdetails></td>
        </tr>
    </tbody>
</table>
</div>
