<div class="container">
<h2>Trips taken by {{UserName}}</h2>

<table class="table bg-light">
    <thead>
        <th>Username</th>
        <th>Start</th>
        <th>End</th>
        <th>Rating</th>
    </thead>
    <tbody>
        <tr *ngFor="let t of Trips" (click)="goToTrip(t.id)">
               
            
                <td *ngIf="t.username == UserName">{{t.username}}</td>
           
            
                <td *ngIf="t.username == UserName">{{t.startAddress}}</td>
            
           
                <td *ngIf="t.username == UserName">{{t.endAddress}}</td>

                <td *ngIf="t.username == UserName">{{t.rating}}</td>
            
        </tr>
    </tbody>
</table>
</div>