@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
.container {
    height: 91vh;
    width: 50%;
    float: left;
    background-color: rgba(255, 250, 244, 0.842);
    font-family: "Permanent Marker", sans-serif; 

} 
h1 {
    text-align: center;
}
.map {
    float: right;
    height: 91vh;
    width: 50%;
}
tr:hover {
    background-color: rgb(161, 161, 224); 
    cursor: pointer;
    }
.form-group {
    font-family: "Permanent Marker", sans-serif; 
    }