<div class="card mx-auto w-50">
    <h4 class="card-header"> Friends </h4>
    <div class="card-body">
        <div class="row w-100 scrollable">
            <div *ngIf="(user1.friends.length !== 0); else noFriends" class="col-md-14">
                <table class="table">
                    <tbody *ngFor="let name of usernames">
                        <tr>
                            <td><a class="nav-link" [routerLink]="['/friendprofile', name]">{{name}}</a></td>
                            <td><button class="btn btn-primary btn-sm">Invite to trip</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <ng-template #noFriends>
                <p>You got no friends yet. Please add friends from suggestions</p>
            </ng-template>
            <div class="col-md-12">
                <h5>Suggestions</h5>
                <table class="table">
                    <tbody *ngFor="let notFriend of notFriends">
                        <tr>
                            <td>{{notFriend.username}}</td>
                            <td><button class="button" (click)="onSubmit($event, notFriend)" class="btn btn-primary btn-sm">Add friend</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>