<!-- <div class="container">
    <form (ngSubmit)="onSubmit(tripForm)" #tripForm="ngForm">
        <div class="form-group">
            <label for="formattedaddress">Start Address</label>
            <input ngx-google-places-autocomplete [options]='options'  (onAddressChange)="AddressChange($event)" class="form-control"
            {{ formattedaddress }} type="text" name="formattedaddress" id="trip-formattedaddress" [(ngModel)]="trip.formattedaddress" #formattedaddress="ngModel" placeholder="1234 Main St." required>
            <div *ngIf="tripForm.controls['addrformattedaddressess']?.invalid && tripForm.controls['formattedaddress'].touched">
                <span *ngIf="tripForm.controls['formattedaddress'].errors?.required" class="help-inline">Address is required</span>  
            </div>
        </div>
        <div class="form-group">
            <label for="hours">Hour of driving per day</label>
            <input class="form-control" type="text" name="hours" id="trip-hours" [(ngModel)]="trip.hours" #hours="ngModel" placeholder="2" required>
            <div *ngIf="tripForm.controls['hours']?.invalid && tripForm.controls['hours'].touched">
                <span *ngIf="tripForm.controls['hours'].errors?.required" class="help-inline">Hours Driving is required</span>  
            </div>
        </div>
        <div class="form-group">
            <label for="days">Length of trip in days</label>
            <input class="form-control" type="text" name="days" id="trip-days" [(ngModel)]="trip.days" #days="ngModel" placeholder="2 - 7" required>
            <div *ngIf="tripForm.controls['days']?.invalid && tripForm.controls['days'].touched">
                <span *ngIf="tripForm.controls['days'].errors?.required" class="help-inline">number of days is required</span>  
            </div>
        </div>
        <p></p>
        <input class="btn btn-success" type="submit" value="Start Tripping" >
    </form>
    <p></p>
</div> -->
