@import url("https://fonts.googleapis.com/css?family=Lobster");

.container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 250, 244, 0.842);
    position: fixed;
} 
p {
font-family: "Lobster", sans-serif; 
}
h2 {
    font-family: "Lobster", sans-serif; 
}
button{
    font-family: "Lobster", sans-serif; 
}