@import url("https://fonts.googleapis.com/css?family=Caveat");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");

.container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 250, 244, 0.842);
    position: fixed;
    width: 500px;
    height: 500px;
    text-align: center;
    border-radius: 500pt;
} 
.text{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}
p {
    font-family: "Permanent Marker", sans-serif; 
    font-size: 15pt;
}
h2 {
    font-family: "Permanent Marker", sans-serif; 
    font-size: 50pt;
}
button{
    font-family: "Lobster", sans-serif; 
}