<div class="container">
    <h2>Welcome to Trippi!</h2>
    <p>How we work:
        <p>
            Click Start Tripping to start your next adventure!
        </p>
        <p>
                Tell us how long your trip will be
        </p>    
        <p>
            Tell us how long you want to drive
        </p>
        <p>
            Type in your start address
        </p>
        <p>
            Your next adventure awaits!
        </p>
            <input class="btn btn-warning" (click)="onSubmit()" value="Start Tripping">
        <p></p>
</div>
