<p>trippi details works!</p>
<p>{{UserName}}</p>
<p>leave a rating for trip #{{tripid}}</p>
<p>username is {{UserName}}</p>
<p>userid is {{userid}}</p>


<form (ngSubmit)="onSubmit(rateForm)" #rateForm="ngForm">
<div class="form-group">
<label for="rating">rating 1-5</label>
<input class="form-control" type="number" name="rating"  [(ngModel)]="newrating.MyRating" #rating="ngModel" placeholder="1 - 5" min="1" max="5" required>
</div>
<div class="form-group">
    <input class="btn btn-success" type="submit" value="Submit Rating" >
</div>
</form>
